.card-owned-container {
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    animation: ease-in;
    margin: 10px;;
    border: solid 2px rgba(164, 164, 164, 0.3);
    padding: 10px;
}

.card-owned-container:hover {
    box-shadow: 0px 0px 15px 0px;
}

.image-container img {
    height: 200px;
    overflow: hidden;
    padding-left: 40px;
}

.card-owned-info {
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

.card-owned-info p{
    font-size: 1.2em;
    margin-top: 20px;
}
.button-release-container {
    display: flex;
    justify-content: center;
}